<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Detalles del Préstamo</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="">Detalles del Préstamo</a>
        <a href="{% url 'lista_prestamos' %}" class="nav-link text-light">Volver a la lista de préstamos</a>
    </nav>

    <div class="container mt-5 flex-grow-1">
        <h1 class="mb-4">Detalles del Préstamo</h1>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Libro Prestado: {{ prestamo.libro.titulo }}</h5>
                <p class="card-text">Autor: {{ prestamo.autor.nombre }}</p>
                <p class="card-text">Usuario: {{ prestamo.usuario.nombre }}</p>
                <p class="card-text">Fecha de Préstamo: {{ prestamo.fecha_prestamo }}</p>
                <p class="card-text">Fecha de Devolución: {{ prestamo.fecha_devolucion }}</p>
                
                {% if prestamo.finalizado %}
                    <p class="card-text text-success">Estado: Finalizado</p>
                {% else %}
                    <p class="card-text text-warning">Estado: Pendiente</p>
                {% endif %}

                <a href="{% url 'lista_prestamos' %}" class="btn btn-light">Volver</a>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        © 2023 Biblioteca Tecsup
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
